
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                text-align: center;
                margin: 0;
            }
    
            header {
                background-color: #007acc;
                color: #fff;
                padding: 20px 0;
            }
    
            h1 {
                margin: 0;
            }
    
            .button {
                background-color: #007acc;
                color: #fff;
                padding: 10px 20px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 5px;
            }
    
            .button:hover {
                background-color: #005ba7;
            }
    
            .footer {
                background-color: #333;
                color: #fff;
                padding: 20px 0;
            }
    
            .footer a {
                color: #fff;
                text-decoration: none;
                margin: 0 10px;
            }
        